---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="hidden w-5 h-5 mr-4 md:inline-block align-text-bottom" />"Once in a while,
      a new technology, an old problem, and a great idea will become an innovation.”</span
    > Dean Kamen.
  </div>
</section>
