<span
  class="flex items-center self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img
    class="hidden dark:block"
    src="https://ik.imagekit.io/andycaseres/portfolio/Logo.svg?updatedAt=1691953652498"
    alt="logo"
    width="112px"
    height="112px"
  />
  <img
    class="block dark:hidden"
    src="https://ik.imagekit.io/andycaseres/portfolio/Logo2.svg?updatedAt=1691953652498"
    alt="logo"
    width="112px"
    height="112px"
  />
</span>
