<span
  class="flex items-center self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img class="w-28 hidden dark:block" src="/src/assets/images/Logo.svg" alt="logo" />
  <img class="w-28 block dark:hidden" src="/src/assets/images/Logo2.svg" alt="logo" />
</span>
