---
const { logo, logo2 } = Astro.props;
---

<span
  class="w-8/12 flex items-center self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img class="w-32 hidden dark:block" src={logo} alt="logo" loading="lazy" />
  <img class="w-32 block dark:hidden" src={logo2} alt="logo2" loading="lazy" />
</span>
